.button {
    padding: 16px 36px;
    cursor: pointer;
    border: 2px solid #000;
    box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 0.50) inset, -4px -4px 0px 0px rgba(0, 0, 0, 0.30) inset;
    transition: box-shadow 0.1s ease;
    -webkit-transition: box-shadow 0.1s ease;
    -moz-transition: box-shadow 0.1s ease;
    -ms-transition: box-shadow 0.1s ease;
    -o-transition: box-shadow 0.1s ease;
}

.button:hover {
    border: 2px solid #fff;
}

.button:active {
    box-shadow: -4px -4px 0px 0px rgba(255, 255, 255, 0.50) inset, 4px 4px 0px 0px rgba(0, 0, 0, 0.30) inset;
    border: 2px solid #fff;
}