
/* Appearance Component */
.appearanceKeyframes {
    animation: appearanceKeyframes;
    -webkit-animation: appearanceKeyframes;
    animation-timing-function: ease-in-out;
}

@keyframes appearanceKeyframes {
    0% {
        opacity: 0;
        transform: translateY(-6vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Float Component */
.floatKeyframes {
    animation: floatKeyframes;
    -webkit-animation: floatKeyframes;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes floatKeyframes {
    0% {
        transform: translateY(-10px)
    }
    50% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(-10px)
    }
}

/* Opacity Component */
.opacityKeyframes {
    opacity: 0;
    animation: opacityKeyframes;
    -webkit-animation: opacityKeyframes;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes opacityKeyframes {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

